<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OHAS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="../static/style.css">

</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../static/img/Logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-item input-group">
                                <div class="form-outline">
                                    <input type="search" id="form1" class="form-control" />
                                    <label class="form-label" for="form1">Search</label>
                                </div>
                                <button type="button" class="btn btn-secondary">
                                  <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="diseaseslist.html">List of Diseases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blogsforums.html">Blogs & Forums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="docsignup.html">Be a Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Be a Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Sign-in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus.html">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <!--- Why farming ? -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">OHAS</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">With the spread of COVID-19 many things have swapped over to the digital world. Have swapped their main operations to online retail. However, an area that is lacking in this department is the agriculture sector of Kuwait. With the aid
                    of this project, we would be able to provide farmers of Kuwait access to a website that would allow them to check weather patterns to better know upcoming weather. Allow them a place to show their farm and products to be able to better
                    network and find people interested in their farm and their products. We believe that pushing farmers to the digital age would only add benefits to their work. </p>
            </div>
        </div>
    </div>

    <!--- our team -->
    <div class="team container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Meet the team</h1>
            </div>
            <hr>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/img/Ayman.png">
                    <div class="card-body">
                        <h4 class="card-title">Ayman Kandil</h4>
                        <p class="card-text"> Worked mainly on the back-end using Python Language in addition to the Flask framework and SQLite3 to handle the databases</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/img/Muntaser.png">
                    <div class="card-body">
                        <h4 class="card-title">AlMuntaser AbdulSalam</h4>
                        <p class="card-text"> Assisted on Back-End and Front-End. Lead in Research & Report Editing.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/img/Syed.png">
                    <div class="card-body">
                        <h4 class="card-title">Syed Yaseen Shah</h4>
                        <p class="card-text">Worked mainly on the front-end using HTML, CSS and BOOTSTRAP, in order to ensure easy portablity on all devices</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="../static/img/Logo.png" width="60" height="58">
                <hr class="light">
                <a href="login.html">
                    <p>Blogs & Forums</p>
                </a>
                <a href="diseaseslist.html">
                    <p>List of Diseases</p>
                </a>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Social Media</h5>
                <hr class="light">
                <p>Facebook page</p>
                <p>Instagram</p>
                <p>Twitter</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Company</h5>
                <hr class="light">
                <a href="aboutus.html">
                    <p>About Us</p>
                </a>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; OHAS.com</h5>
            </div>
        </div>
    </div>
</footer>

</html>