<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OHAS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="../static/style.css">

</head>


<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-lidght sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../static/img/Logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-item input-group">
                                <div class="form-outline">
                                    <input type="search" id="form1" class="form-control" />
                                    <label class="form-label" for="form1">Search</label>
                                </div>
                                <button type="button" class="btn btn-secondary">
                                  <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="diseaseslist.html">List of Diseases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blogsforums.html">Blogs & Forums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="docsignup.html">Be a Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Be a Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Sign-in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus.html">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="mb-2">
                    <img class="w-100" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                </div>
                <div class="mb-2 d-flex">
                    <h4 class="font-weight-normal">Thor Odinson</h4>
                    <div class="social d-flex ml-auto">
                    </div>
                </div>
                <div class="mb-2">
                    <ul class="list-unstyled">
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">Profession:</span>
                            <label class="media-body">Gynecologist</label>
                        </li>
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">Experience: </span>
                            <label class="media-body">20 Years</label>
                        </li>
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">Years On OHAS: </span>
                            <label class="media-body">7 Years</label>
                        </li>
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">Phone: </span>
                            <label class="media-body">+965-8877-8877</label>
                        </li>
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">Email: </span>
                            <label class="media-body">ThorOdinson@Avengers.com</label>
                        </li>
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">WorkPlace: </span>
                            <label class="media-body">Asgard Hospital</label>
                        </li>
                        <li class="media">
                            <span class="w-25 text-black font-weight-normal">My Bio: </span>
                            <label class="media-body">Born and raised in Aushcwitz, Germany. Studied Medical at University of Valhalla.</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 pl-xl-3">
                <h5 class="font-weight-normal">Biography of Paul Flavius</h5>
                <p>Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times. This requires a little self-discipline, but is a crucial component to achievement of any kind. Before
                    starting any new activity, ask yourself if that activity will move you closer to your goals. If the answer is no, you may want to reconsider doing it at that time.</p>
                <div class="my-2 bg-light p-2">
                    <p class="font-italic mb-0">The price is something not necessarily defined as financial. It could be time, effort, sacrifice, money or perhaps, something else.</p>
                </div>
                <ul class="list list-unstyled mb-3">
                    <li class="text-secondary font-weight-normal mb-1">
                        <span class="ti-arrow-right pr-1 text-primary"></span> Commitment is something that comes from understanding that!
                    </li>
                    <li class="text-secondary font-weight-normal mb-1">
                        <span class="ti-arrow-right pr-1 text-primary"></span> Its price and then having the willingness to pay that price.
                    </li>
                    <li class="text-secondary font-weight-normal mb-1">
                        <span class="ti-arrow-right pr-1 text-primary"></span> Out after the fact that the price was too high.
                    </li>
                    <li class="text-secondary font-weight-normal mb-1">
                        <span class="ti-arrow-right pr-1 text-primary"></span> This is important because nobody wants to put significant.
                    </li>
                </ul>
                <h5 class="font-weight-normal">Personal Experience</h5>
                <p>It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice. In the majority of cases, the cause is a well-meaning but unskilled or
                    un-thinking parent, who says the wrong thing at the wrong time, and the message sticks – as simple as that!</p>
            </div>
        </div>
    </div>
</body>

<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="../static/img/Logo.png" width="60" height="58">
                <hr class="light">
                <a href="login.html">
                    <p>Blogs & Forums</p>
                </a>
                <a href="diseases-list.html">
                    <p>List of Diseases</p>
                </a>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Social Media</h5>
                <hr class="light">
                <p>Facebook page</p>
                <p>Instagram</p>
                <p>Twitter</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Company</h5>
                <hr class="light">
                <a href="aboutus.html">
                    <p>About Us</p>
                </a>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; OHAS.com</h5>
            </div>
        </div>
    </div>
</footer>

</html>