{% extends "base.html" %} {% block title %}
<title>Admin Disease Tables | OHAS</title>
{% endblock %} {% block content %}

<h1>Doctors</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Medical Field</th>
            <th scope="col">Meet/ask a Doctor</th>

        </tr>
    </thead>
    <tbody>
        {% for b in doctordata %} {%set count = 1 %} {% set outer_loop = loop %}
        <tr>

            <th scope="row">{{ outer_loop.index }}</th>

            <td>{{b[1]}} {{b[2]}}</td>

            <td>{{b[8]}}</td>
            <td><a href="skype:live:marwa.kandil">Dr.Ahmed</a></td>


        </tr>
        {%set count = count +1 %} {% endfor %}

    </tbody>
</table>
<br>
<div>
    <button id="postYourAdd" class="btn btn-outline-success float-left" onclick="postYourAdd()">COVID-19 AI Bot</button></div><br><br>
<div>
    <iframe id="invokeBot" data-src="https://healthcare-bot-qtn47vuoxekdw.azurewebsites.net" src="about:blank" height="600" width="600" align="bottom" style="display: none;"></iframe>
</div>
<script>
    function postYourAdd() {
        var iframe = $("#invokeBot");
        iframe.attr("src", iframe.data("src"));
        document.getElementById("invokeBot").style.display = "block";
    }
</script>
<script src="https://healthcare-bot-qtn47vuoxekdw.azurewebsites.net"></script>
<a data-config="commands=chat,videocall,add,sendfile;size=30;status=on;theme=logo;language=en;bgcolor=#2a92f3;hostname=www.skaip.org" id="skaip-buttons" href="http://www.skaip.org/">Skype</a>
<script src="//apps.skaip.org/buttons/widget/core.min.js" defer="defer"></script>
{% endblock %}